form#shopping-list-ingredient-form {
  div.form-row {
    input {
      &.form-control.hidden {
        display: none;
      }
    }
  }

  input.ng-invalid.ng-touched {
    border: 1px solid #e53935;
  }

  div.flex-column.validation-errors {
    div {
      padding: 0px 0px 12px 0px !important;

      &:last-child {
        padding: 0px 0px 18px 0px !important;
      }

      span.validation-error {
        margin-bottom: 12px;
        color: #e53935;
      }
    }
  }

  button[type='submit'] {
    &:disabled {
      cursor: default;
    }
  }
}
