#shopping-list {
  .flex-container {
    display: flex;
    width: 100%;

    create-or-edit-shopping-list-ingredient {
      width: 50%;
      padding-right: 4em;
    }

    shopping-list-ingredient-list {
      width: 50%;
      padding-left: 4em;
    }
  }
}
