@import '~ngx-toastr/toastr';

body {
  scrollbar-width: thin;
  scrollbar-color: #f5f5f5 #cecece;

  &::-webkit-scrollbar {
    width: 0.8em;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 6px;
    border: 3px solid #f5f5f5;
  }
}

#wrapper {
  .content-container {
    min-height: calc(100vh - 129px);

    input.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched {
      border: 1px solid #e53935;
    }

    .validation-error {
      padding-top: 0.3em;
      margin-bottom: 1.5em;
      color: #e53935;
    }
  }
}

#toast-container > .toast-success {
  background-color: #b0ceb2;
  color: black;
}
