<div id="login-wrapper">
  <form id="login-form" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <img src="./assets/img/kisspng-book-cover-outline-clip-art-5aed58b683c385.5774176815255041825397.png" />
    <h2>Sign In</h2>
    <div class="input-group">
      <input id="userName" type="text" autocomplete="off" formControlName="userName" />
      <label for="userName">User Name</label>
    </div>
    <div class="input-group">
      <input id="password" type="password" autocomplete="off" formControlName="password" />
      <label for="password">Password</label>
    </div>
    <button type="submit" class="submit-btn" [disabled]="!signInForm.valid">
      <span><fa-icon icon="sign-in-alt"></fa-icon> Sign In</span>
    </button>
  </form>
</div>
