ul.dropdown-menu a:hover {
    background-color: #eeeeee;
    color: black
}

ul.dropdown-menu a.dropdown-item:active {
    background-color: #e0e0e0;
    color: black
}

ul.dropdown-menu a#to-shopping-list.dropdown-item > span{
    padding-right: 8px;
    margin-left: -3px;
}

ul.dropdown-menu a#edit-recipe.dropdown-item > span{
    padding-right: 6px;
    margin-left: -5px;
}

ul.dropdown-menu a#delete-recipe.dropdown-item > span{
    padding-right: 10px;
    margin-left: -3px;
}

div#description-content > div.p-2 > p {
    word-break: break-all;
}