<div id="login-wrapper">
  <form [formGroup]="loginForm">
    <img src="./assets/img/kisspng-book-cover-outline-clip-art-5aed58b683c385.5774176815255041825397.png" />
    <h2>Sign In</h2>
    <div class="input-group">
      <input id="userName" type="text" autocomplete="off" required />
      <label for="userName">User Name</label>
    </div>
    <div class="input-group">
      <input id="password" type="password" required />
      <label for="password">Password</label>
    </div>
    <input type="submit" class="submit-btn" value="Sign In" />
  </form>
</div>
