<div id="shopping-list-ingredients">
  <div id="header">
    <h2>Ingredients</h2>
    <div>
      <button class="btn btn-outline-dark mr-2" type="button" (click)="onClearingShoppingListIngredients()">
        <span><fa-icon icon="eraser"></fa-icon> Clear list</span>
      </button>
    </div>
  </div>
  <hr />

  <div class="list-group">
    <shopping-list-ingredient-item
      *ngFor="let ingredient of shoppingListIngredients; let arrayIndex = index"
      [ingredient]="ingredient"
      [arrayIndex]="arrayIndex"
    >
    </shopping-list-ingredient-item>
  </div>
</div>
