#recipe {
  margin-bottom: 3em;

  .flex-container {
    display: flex;

    .flex-item {
      &:nth-child(1) {
        width: 25%;
        margin-right: 2em;
      }

      &:nth-child(2) {
        width: 75%;
      }
    }
  }
}
