a {
  cursor: pointer;

  &.list-group-item {
    &.active {
      background-color: #cfcfcf;
      border-color: #bdbdbd;
      color: #727272;
    }

    > div.header {
      > span > img {
        max-height: 50px;
      }
    }

    > div.content {
      margin-top: 15px;

      > p {
        word-break: break-all;
      }
    }
  }
}
