#recipeForm {
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: 1px solid #e53935;
  }

  .flex-container {
    .card {
      margin-bottom: 3em;
    }

    .card:nth-child(1) {
      &:nth-child(1) {
        margin-top: 1.5em;

        .form-group:nth-child(2) {
          .flex-container {
            .flex-item:nth-child(1) {
              margin-bottom: 2em;
            }

            .flex-item:nth-child(2) {
              text-align: center;

              .img-fluid {
                max-width: 16em;
              }
            }
          }
        }
      }
    }

    .card:nth-child(2) {
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-body {
        display: flex;
        flex-direction: column;

        .flex-container {
          &:nth-child(1) {
            display: flex;
            align-items: center;
            margin-bottom: 0px;

            .form-group {
              margin-right: 1em;

              &:nth-child(1) {
                width: 72%;
              }

              &:nth-child(2) {
                width: 18%;
              }

              &:nth-child(3) {
                button {
                  margin-top: 1.8em;
                }
              }
            }
          }

          &:nth-child(2) {
            .validation-error {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 1.5em;
              }
            }
          }
        }
      }
    }

    #operation-btns-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
